{
  "presets": [
    ["latest", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    "babel-plugin-syntax-dynamic-import"
  ]
}